<div class="layui-row layui-col-space15">
    <div class="layui-col-xs6 layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-header">
                访问量<span class="layui-badge layui-bg-blue pull-right">周</span>
            </div>
            <div class="layui-card-body">
                <p class="lay-big-font">9,999,999</p>
                <p>总计访问量<span class="pull-right">999,999,999万 <i class="layui-icon layui-icon-flag"></i></span></p>
            </div>
        </div>
    </div>
    <div class="layui-col-xs6 layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-header">
                下载<span class="layui-badge layui-bg-black pull-right">月</span>
            </div>
            <div class="layui-card-body">
                <p class="lay-big-font">99,999,999</p>
                <p>新下载<span class="pull-right">30% <i class="layui-icon layui-icon-download-circle"></i></span></p>
            </div>
        </div>
    </div>
    <div class="layui-col-xs6 layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-header">
                Start<span class="layui-badge layui-bg-green pull-right">周</span>
            </div>
            <div class="layui-card-body">
                <p class="lay-big-font">999,999</p>
                <p>总Start数<span class="pull-right">999万 <i class="layui-icon layui-icon-rate"></i></span></p>
            </div>
        </div>
    </div>
    <div class="layui-col-xs6 layui-col-md3">
        <div class="layui-card">
            <div class="layui-card-header">
                活跃用户<span class="layui-badge layui-bg-orange pull-right">月</span>
            </div>
            <div class="layui-card-body">
                <p class="lay-big-font">66,666</p>
                <p>最近一个月<span class="pull-right">15% <i class="layui-icon layui-icon-user"></i></span></p>
            </div>
        </div>
    </div>
</div>

<div class="layui-row layui-col-space15">
    <div class="layui-col-lg8 layui-col-md7">
        <div class="layui-card">
            <div class="layui-card-header">更新日志</div>
            <div class="layui-card-body">
                <ul class="layui-timeline">
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                        <div class="layui-timeline-content layui-text">
                            <div class="layui-timeline-title">
                                Crown默默开发中...&emsp;<span class="layui-badge-rim">目前</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="layui-col-lg4 layui-col-md5">
        <div class="layui-card">
            <div class="layui-card-header">后台框架</div>
            <div class="layui-card-body">
                <table class="layui-table layui-text">
                    <colgroup>
                        <col width="130">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <td>核心框架</td>
                        <td>Spring Boot 2.x</td>
                    </tr>
                    <tr>
                        <td>持久层</td>
                        <td><a href="http://mp.baomidou.com" target="_blank">MyBatis-Plus 3.x</a></td>
                    </tr>
                    <tr>
                        <td>Github Star</td>
                        <td style="padding-bottom: 3px;">
                            <iframe src="http://ghbtns.com/github-btn.html?user=Caratacus&amp;repo=Crown&amp;type=watch&amp;count=true&amp;size=medium"
                                    allowtransparency="true" frameborder="0" scrolling="0" width="100px"
                                    height="20px"></iframe>
                        </td>
                    </tr>
                    <tr>
                        <td>Github Fork</td>
                        <td style="padding-bottom: 3px;">
                            <iframe src="http://ghbtns.com/github-btn.html?user=Caratacus&amp;repo=Crown&amp;type=fork&amp;count=true&amp;size=medium"
                                    allowtransparency="true" frameborder="0" scrolling="0" width="100px"
                                    height="20px"></iframe>
                        </td>
                    </tr>
                    <tr>

                        <td>Gitee Star</td>
                        <td style="padding-bottom: 3px;">
                            <a href='https://gitee.com/cancerGit/Crown/stargazers'><img
                                    src='https://gitee.com/cancerGit/Crown/badge/star.svg?theme=white' alt='star'/></a>
                        </td>
                    </tr>

                    <tr>

                        <td>Gitee Fork</td>
                        <td style="padding-bottom: 3px;">
                            <a href='https://gitee.com/cancerGit/Crown/members'><img
                                    src='https://gitee.com/cancerGit/Crown/badge/fork.svg?theme=white' alt='fork'/></a>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="layui-card">
            <div class="layui-card-header">前端框架</div>
            <div class="layui-card-body">
                <table class="layui-table layui-text">
                    <colgroup>
                        <col width="100">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <td>核心框架</td>
                        <td><a href="http://www.layui.com/" target="_blank">layui-v2.4.5</a></td>
                    </tr>
                    <tr>
                        <td>获取源码</td>
                        <td style="padding-bottom: 0">
                            <div class="layui-btn-container">
                                <a href="https://github.com/Caratacus/Crown" target="_blank"
                                   class="layui-btn layui-btn-danger">github</a>
                                <a href="https://gitee.com/cancerGit/Crown" target="_blank" class="layui-btn">gitee</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="layui-card">
            <div class="layui-card-header">友情链接</div>
            <div class="layui-card-body">
                <div class="layui-carousel crown-carousel crown-news">
                    <div carousel-item>
                        <div>
                            <a href="http://www.layui.com/" target="_blank" class="layui-bg-green">layui - 经典模块化前端框架</a>
                        </div>
                        <div>
                            <a href="http://www.layui.com/crown/" target="_blank" class="layui-bg-cyan">layuiadmin -
                                layui官方后台模板</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['carousel', 'element'], function () {
        var carousel = layui.carousel;
        var element = layui.element;
        var device = layui.device;
        layui.link('assets/css/console.css');
        // 渲染轮播
        carousel.render({
            elem: '.layui-carousel',
            width: '100%',
            height: '60px',
            arrow: 'none',
            autoplay: true,
            trigger: device.ios || device.android ? 'click' : 'hover',
            anim: 'fade'
        });
    });
</script>