<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.crown.mapper.ResourceMapper">

    <select id="getUserResourcePerms" resultType="ResourcePermDTO">
        SELECT
            sr.mapping,
            sr.method
        FROM
            sys_resource sr
        LEFT JOIN sys_role_resource srr ON srr.resource_id = sr.id
        LEFT JOIN sys_user_role sur ON sur.role_id = srr.role_id
        WHERE
            sur.uid = #{uid}
            AND sr.auth_type = 3
    </select>

    <select id="getUserMenuResourcePerms" resultType="ResourcePermDTO">
        SELECT
            sr.mapping,
            sr.method
        FROM
            sys_resource sr
        LEFT JOIN sys_menu_resource smr ON smr.resource_id = sr.id
        LEFT JOIN sys_role_menu srm ON smr.menu_id = srm.menu_id
        LEFT JOIN sys_user_role sur ON sur.role_id = srm.role_id
        WHERE
            sur.uid = 1
    </select>
</mapper>
