<form id="menu-form" lay-filter="menu-form" class="layui-form model-form">
    <input name="id" type="hidden"/>
    <div class="layui-form-item">
        <label class="layui-form-label">菜单名称</label>
        <div class="layui-input-block">
            <input name="menuName" placeholder="请输入菜单名称" type="text" class="layui-input" maxlength="20" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">选择图标</label>
        <div class="layui-input-block">
            <input type="text" id="icon" lay-filter="icon" class="layui-input" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">菜单路径</label>
        <div class="layui-input-block">
            <input name="path" placeholder="请输入路径" type="text" class="layui-input" maxlength="20" lay-verify="required"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">类型</label>
        <div class="layui-input-block">
            <select name="menuType" lay-verify="required">
                <option value="" selected="selected">请选择类型</option>
                <option value="1">目录</option>
                <option value="2">菜单</option>
                <option value="3">按钮</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-block">
            <input type="radio" name="status" value="0" title="正常" checked="checked">
            <input type="radio" name="status" value="1" title="禁用">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">上级菜单</label>
        <div class="layui-input-block">
            <select id="parentId" name="parentId" lay-filter="parentId" lay-verify="required">
                <option value="">请选择</option>
                <option value="0">首级菜单</option>
                <option p-for="parents" p-bind="value:{{id}}">{{name}}</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary close" type="button">取消</button>
        <button class="layui-btn" lay-filter="menu-form-submit" lay-submit>保存</button>
    </div>
</form>

<script>
    layui.use(['layer', 'crown', 'form', 'iconPicker'], function () {
        var layer = layui.layer;
        var crown = layui.crown;
        var form = layui.form;
        var $ = layui.jquery;
        var iconPicker = layui.iconPicker;
        // 获取所有菜单
        layer.load(2);
        crown.get('/menu/combos', {}, function (data) {
            $('#parentId').vm({parents: data.result});
            form.render('select');
            // 回显menu数据
            var menu = crown.getTempData('t_menu');
            if (menu) {
                crown.fromVal('menu-form', menu);
                iconPicker.checkIcon('icon', menu.icon);
            } else {
                iconPicker.checkIcon('icon', 'layui-icon-rate-half');
            }
            layer.closeAll('loading');
        });

        // 表单提交事件
        form.on('submit(menu-form-submit)', function (data) {
            layer.load(2);
            data.field.icon=$("#icon").val();
            if (data.field.id) {
                crown.put('/menu/' + data.field.id, data.field, function () {
                    layer.closeAll('loading');
                    layer.msg('修改成功', {icon: 1});
                    crown.finishPopupCenter();
                });
            } else {
                crown.post('/menu', data.field, function () {
                    layer.closeAll('loading');
                    layer.msg('添加成功', {icon: 1});
                    crown.finishPopupCenter();
                });
            }
            return false;
        });
        iconPicker.render({
            // 选择器，推荐使用input
            elem: '#icon',
            // 数据类型：fontClass/unicode，推荐使用fontClass
            type: 'fontClass',
            // 是否开启搜索：true/false
            search: true,
            // 是否开启分页
            page: true,
            // 每页显示数量，默认12
            limit: 12,
            // 点击回调
            click: function (data) {
            }
        });
        form.render();
    });
</script>