<div class="layui-card">
    <div class="layui-card-header">
        <h2 class="header-title">菜单管理</h2>
        <span class="layui-breadcrumb pull-right">
          <a href="#!console">首页</a>
          <a><cite>菜单管理</cite></a>
        </span>
    </div>
    <div class="layui-card-body">
        <div class="layui-form toolbar">
            查看角色菜单：
            <select id="auth-slt-role" lay-filter="auth-slt-role">
                <option value="">-请选择角色-</option>
                <option p-for="roles" p-bind="value:{{roleId}}">{{roleName}}</option>
            </select>&emsp;

        </div>
        <script type="text/html" id="menu-toolbar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="add"><i class="layui-icon">&#xe654;</i>添加</button>
                <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="expand"><i class="layui-icon">&#xe6b1;</i>全部展开
                </button>
                <button class="layui-btn layui-btn-primary layui-btn-sm" lay-event="fold"><i
                        class="layui-icon">&#xe656;</i>全部折叠
                </button>
            </div>
        </script>
        <!-- 数据表格 -->
        <table class="layui-table" id="menu-table" lay-filter="menu-table"></table>
    </div>
</div>

<!-- 表格状态列 -->
<script type="text/html" id="auth-state">
    <input type="checkbox" lay-filter="auth-state" value="{{d.authority}}" lay-skin="switch" lay-text="ON|OFF"
           {{d.checked==1?'checked':''}}/>
</script>

<script>
    layui.use(['form', 'table', 'config', 'crown', 'treetable'], function () {
        var form = layui.form;
        var table = layui.table;
        var config = layui.config;
        var layer = layui.layer;
        var crown = layui.crown;
        var treetable = layui.treetable;
        var tableId = '#menu-table';

        // 渲染表格
        var renderTable = function () {
            treetable.render({
                elem: tableId,
                treeColIndex: 1,
                treeSpid: 0,
                treeIdName: 'id',
                treePidName: 'parentId',
                treeDefaultClose: true,
                toolbar: '#menu-toolbar',
                url: config.serverUrl + '/menu',
                /*cols: [[
                    {type: 'numbers'},
                    {field: 'name', title: '名称', width: 200},
                    {
                        field: 'icon', title: '图标', width: 60, align: 'center'
                        , templet: function (d) {
                            return d.icon ? '<i class="layui-icon ' + d.icon + '"></i>' : '';
                        }
                    },
                    {field: 'code', title: '编码', width: 120},
                    {field: 'uri', title: 'URI', width: 120},
                    {field: 'path', title: '资源路径'},
                    {field: 'sort', title: '排序', width: 60},
                    {field: 'status', templet: '#resource-tpl-status', title: '状态', width: 100},
                    {field: 'createTime', title: '创建时间', sort: true, width: 150},
                    {fixed: 'right', align: 'center', toolbar: '#resource-table-bar', title: '操作', width: 120}
                ]]*/
                cols: [[
                    {field: 'id', align: 'center', sort: true, width: 60, title: 'ID'},
                    {field: 'menuName', align: 'center', sort: true, title: '菜单名称'},
                    {
                        field: 'icon', title: '图标', align: 'center'
                        , templet: function (d) {
                            return d.icon ? '<i class="layui-icon ' + d.icon + '"></i>' : '';
                        }
                    },
                    {field: 'path', align: 'center', sort: true, title: '菜单路径'},
                    {
                        minWidth: 80, align: 'center', templet: function (d) {
                            if (d.menuType === 1) {
                                return '<span class="layui-badge layui-bg-gray">目录</span>';
                            } else if (d.menuType === 2) {
                                return '<span class="layui-badge layui-bg-blue">菜单</span>';
                            } else if (d.menuType === 3) {
                                return '<span class="layui-badge layui-badge-rim">按钮</span>';
                            } else {
                                return '<span class="layui-bg-black">未知</span>';
                            }
                        }, title: '类型'
                    },
                    {field: 'createTime', align: 'center', sort: true, width: 170, title: '创建时间'},
                    {field: 'updateTime', align: 'center', sort: true, width: 170, title: '修改时间'},
                    {fixed: 'right', align: 'center', toolbar: '#resource-table-bar', title: '操作', width: 120}
                ]]
            });
        };
        renderTable();

        // 表格顶部操作列
        table.on('toolbar(menu-table)', function (obj) {
            if (obj.event === 'add') {
                showEditModel();
            } else if (obj.event === 'expand') {
                treetable.expandAll(tableId);
            } else if (obj.event === 'fold') {
                treetable.foldAll(tableId);
            }
        });

        // 角色切换事件
        form.on('select(auth-slt-role)', function (data) {
            table.reload('menu-table', {where: {roleId: data.value}});
        });

        // 同步按钮点击事件
        $('#auth-btn-sync').click(function () {
            layer.confirm('确定进行同步？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                layer.load(2);
                /*   $.get(config.serverUrl + 'v2/api-docs', function (data) {
                       crown.post('authorities/sync', {
                           json: JSON.stringify(data)
                       }, function (data) {
                           layer.closeAll('loading');
                           if (200 == data.code) {
                               layer.msg(data.msg, {icon: 1});
                               table.reload('menu-table');
                           } else {
                               layer.msg(data.msg, {icon: 2});
                           }
                       });
                   });*/
            });
        });

        // 获取角色
        //crown.showLoading('.toolbar');
        /*     crown.get('role', {}, function (data) {
                 //crown.removeLoading('.toolbar');
                 if (0 == data.code) {
                     $('#auth-slt-role').vm({roles: data.data});
                     form.render('select');
                 } else {
                     layer.msg('获取角色失败', {icon: 2});
                 }
             });*/

        // 监听状态开关操作
        form.on('switch(auth-state)', function (obj) {
            var roleId = $('#auth-slt-role').val();
            if (!roleId) {
                layer.msg('请选择角色再进行授权操作', {icon: 2});
                $(obj.elem).prop('checked', !obj.elem.checked);
                form.render('checkbox');
                return;
            }
            layer.load(2);
            /*     crown.post('authorities/role', {
                     roleId: roleId,
                     authId: obj.value
                 }, function (data) {
                     layer.closeAll('loading');
                     if (data.code == 200) {
                         layer.msg(data.msg, {icon: 1});
                     } else {
                         layer.msg(data.msg, {icon: 2});
                         $(obj.elem).prop('checked', !obj.elem.checked);
                         form.render('checkbox');
                     }
                 });*/
        });
    });
</script>